.about {
    height:100vh;
    display: flex;
    align-items: center;
    background-color: #efefef
    ;
    
}

.about-left {
    flex: 1;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.about-right {
    flex: 1;
    padding: 0 1rem;
    position: relative;
}

.about-card.background {
    position: absolute;
    top:50px;
    left:50px;
    background-color: black;
}

.about-card {
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.about-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-misc .about-misc-img {
    height: 10%;
    width: 10%;
    padding-left: 100px;
    margin-top: 20px;
}

.about-title.center {
    font-weight: 400;
    text-align: center;
}

.about-subtitle {
    margin: 20px 0px;
}

.about-description {
    font-weight: 300;
}

.about-skills  {
    padding: 40px;
}

.about-icons{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 480px) {
    .about {
        flex-direction: column;
        text-align: center;
        padding: 0px;
    }

    .about-left {
        width: 100%;
        height: 100%;
    }

    .about-card {
        height: 30vh;
    }

    .about-card.background {
        display: none;
    }
    .about-subtitle {
        margin: 0px;
    }
    .about-misc {
        display: none;
    }

    .about-title.center {
        font-weight: 600;
        padding: 10px;
    }
    .about-skills  {
        padding: 0px;
    }
    .about-right{
        padding: 0px;
    }

}